
/* разместим наши ссылки в ряд */
#menu{
	display: flex;
}

/* стили наших ссылок */

#menu a{
	margin-right: 5px;
	padding: 10px;
	font: 15px arial;
	text-decoration: none;
	color: #1437ad;
	border: 1px solid #1437ad;
	background-color: #fff;
}

/* реакция ссылок на наведение */
#menu a:hover, #menu a.active{
	color: blueviolet;
	border: 1px solid blue;
	background-color: #f5f6fa;
}

/* вид активной ссылки совпадает с видом ссылки по наведению */

