#menu {
	display: flex;
	/* разместим наши ссылки в ряд: */
}

/*  стили наших ссылок: */
#menu a {
	margin-right: 5px;
	padding: 10px;
	font: 15px arial;
	text-decoration: none;
	color: #fff;
	border: 1px solid #16A177;
	background-color: #16A177;
}

/* реакция ссылок на наведение */

/* #menu a:hover{
	color:#16A177;
	border: 1px solid #16A177;
	background-color: #fff;
} */



/* Вид активной ссылки совпадает с видом ссылки по наведению. Объединим эти стили вместе: */

#menu a:hover,
#menu a.active {
	color: #16A177;
	border: 1px solid #16A177;
	background-color: #fff;
}